#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat';
}

#observe-title, #observe-content {
    width: 80%;
    margin: auto;
    margin-top: 12px;
    border-style: groove;
}

#observe-title p {
    font-size: x-large;
    font-weight: 700;
    padding: 0px 32px;
}

#observe-content {
    min-height: 200px;
}

#observe-content p {
    padding: 0px 32px;
    font-size: 18px;
}

#delete-entry {
    display: flex;
    justify-content: right;
    width: 80%;
    margin: auto;
    margin-top: 12px;
}

#delete-btn {
    border-style: solid;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat';
    width: 8%;
    padding: 6px;
    justify-content: center;
}

#delete-btn:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.18) inset, -1px -1px 10px rgba(0, 0, 0, 0.18) inset;
}

#confirmation-prompt {
    display: none;
    width: 50%;
    justify-content: right;
}

#confirmation-prompt > p {
    margin: 8px 12px;
    flex-shrink: 0;
}

#confirmation-prompt > input {
    border-style: solid;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat';
    width: 12%;
    margin: 0px 2px;
}

#confirmation-prompt > input:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.18) inset, -1px -1px 10px rgba(0, 0, 0, 0.18) inset;
}
